In [1]:
#in this file we will create panels
#we will use Panels to represent data of Apple, Microsft, Dell and Google stocks 
#we import necessary libraries
#we set printing precision to 2 decimal places
import pandas as pd
import numpy as np
import datetime
from pandas_datareader import data, wb

pd.set_eng_float_format(accuracy = 2, use_eng_prefix =True)

In [11]:
#making a panel from Panda.Panel
my_panel = pd.Panel(np.random.randn(2,5,4),
                   items = ['primary','secondary'],
                   major_axis=pd.date_range('20180201', periods= 5),
                   minor_axis = ['A','B','C','D'])
my_panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 4 (minor_axis)
Items axis: primary to secondary
Major_axis axis: 2018-02-01 00:00:00 to 2018-02-05 00:00:00
Minor_axis axis: A to D

In [10]:
#making a Panel from dictionary consisting of DataFrames
dict_DF = {'dict1' : pd.DataFrame(np.random.randn(4,3)),
           'dict2' : pd.DataFrame(np.random.randn(4,2))}
           
P_dict_DF = pd.Panel(dict_DF)
P_dict_DF

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: dict1 to dict2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [24]:
#getting stock data from yahoo as a Panel for year 2010 to 2019
start_date = datetime.datetime(2010, 1, 1)
end_date = datetime.datetime(2019, 1, 1)
Panel_data = pd.Panel(dict((stk,data.DataReader("F",'yahoo',start_date,end_date))
                           for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

Panel_data

C:\Users\amans\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 2265 (major_axis) x 6 (minor_axis)
Items axis: AAPL to DELL
Major_axis axis: 2010-01-04 00:00:00 to 2019-01-02 00:00:00
Minor_axis axis: High to Adj Close

In [40]:
Panel_data = Panel_data.swapaxes('items', 'minor')
Panel_data['Adj Close'].head(10)

C:\Users\amans\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  """Entry point for launching an IPython kernel.

            AAPL  GOOG  MSFT  DELL
Date
2010-01-04  7.34  7.34  7.34  7.34
2010-01-05  7.82  7.82  7.82  7.82
2010-01-06  8.12  8.12  8.12  8.12
2010-01-07  8.32  8.32  8.32  8.32
2010-01-08  8.35  8.35  8.35  8.35
2010-01-11  8.65  8.65  8.65  8.65
2010-01-12  8.47  8.47  8.47  8.47
2010-01-13  8.34  8.34  8.34  8.34
2010-01-14  8.40  8.40  8.40  8.40
2010-01-15  8.28  8.28  8.28  8.28

In [36]:
#To represent all rows and columns for 12th AUG 2016
Panel_data.ix[:, '7/12/2016', :]

C:\Users\amans\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

       High    Low   Open  Close  Volume  Adj Close
AAPL  13.54  13.38  13.38  13.45  31.32M      11.04
GOOG  13.54  13.38  13.38  13.45  31.32M      11.04
MSFT  13.54  13.38  13.38  13.45  31.32M      11.04
DELL  13.54  13.38  13.38  13.45  31.32M      11.04

In [42]:
#multikey formatting from Panel to Frame
stacked_data = Panel_data.ix[:, '6/30/2016':, :].to_frame()
stacked_data

C:\Users\amans\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

                   High    Low   Open  Close  Volume  Adj Close
Date       minor
2016-06-30 AAPL   12.57  12.26  12.56  12.57  44.98M      10.32
           GOOG   12.57  12.26  12.56  12.57  44.98M      10.32
           MSFT   12.57  12.26  12.56  12.57  44.98M      10.32
           DELL   12.57  12.26  12.56  12.57  44.98M      10.32
2016-07-01 AAPL   12.89  12.69  12.88  12.72  45.07M      10.44
           GOOG   12.89  12.69  12.88  12.72  45.07M      10.44
           MSFT   12.89  12.69  12.88  12.72  45.07M      10.44
           DELL   12.89  12.69  12.88  12.72  45.07M      10.44
2016-07-05 AAPL   12.59  12.31  12.57  12.40  30.24M      10.18
           GOOG   12.59  12.31  12.57  12.40  30.24M      10.18
           MSFT   12.59  12.31  12.57  12.40  30.24M      10.18
           DELL   12.59  12.31  12.57  12.40  30.24M      10.18
2016-07-06 AAPL   12.58  12.21  12.32  12.57  35.09M      10.32
           GOOG   12.58  12.21  12.32  12.57  35.09M      10.32
           MSFT   12.58  12.21  12.32  12.57  35.09M      10.32
           DELL   12.58  12.21  12.32  12.57  35.09M      10.32
2016-07-07 AAPL   12.84  12.57  12.57  12.75  33.47M      10.47
           GOOG   12.84  12.57  12.57  12.75  33.47M      10.47
           MSFT   12.84  12.57  12.57  12.75  33.47M      10.47
           DELL   12.84  12.57  12.57  12.75  33.47M      10.47
2016-07-08 AAPL   13.17  12.89  12.89  13.09  45.95M      10.75
           GOOG   13.17  12.89  12.89  13.09  45.95M      10.75
           MSFT   13.17  12.89  12.89  13.09  45.95M      10.75
           DELL   13.17  12.89  12.89  13.09  45.95M      10.75
2016-07-11 AAPL   13.33  13.13  13.17  13.27  28.63M      10.89
           GOOG   13.33  13.13  13.17  13.27  28.63M      10.89
           MSFT   13.33  13.13  13.17  13.27  28.63M      10.89
           DELL   13.33  13.13  13.17  13.27  28.63M      10.89
2016-07-12 AAPL   13.54  13.38  13.38  13.45  31.32M      11.04
           GOOG   13.54  13.38  13.38  13.45  31.32M      11.04
...                 ...    ...    ...    ...     ...        ...
2018-12-20 MSFT    8.42   8.18   8.33   8.26  58.93M       7.74
           DELL    8.42   8.18   8.33   8.26  58.93M       7.74
2018-12-21 AAPL    8.40   8.04   8.22   8.05  57.54M       7.54
           GOOG    8.40   8.04   8.22   8.05  57.54M       7.54
           MSFT    8.40   8.04   8.22   8.05  57.54M       7.54
           DELL    8.40   8.04   8.22   8.05  57.54M       7.54
2018-12-24 AAPL    8.01   7.61   8.01   7.63  38.71M       7.15
           GOOG    8.01   7.61   8.01   7.63  38.71M       7.15
           MSFT    8.01   7.61   8.01   7.63  38.71M       7.15
           DELL    8.01   7.61   8.01   7.63  38.71M       7.15
2018-12-26 AAPL    7.86   7.41   7.73   7.85  58.81M       7.35
           GOOG    7.86   7.41   7.73   7.85  58.81M       7.35
           MSFT    7.86   7.41   7.73   7.85  58.81M       7.35
           DELL    7.86   7.41   7.73   7.85  58.81M       7.35
2018-12-27 AAPL    7.85   7.53   7.82   7.85  49.81M       7.35
           GOOG    7.85   7.53   7.82   7.85  49.81M       7.35
           MSFT    7.85   7.53   7.82   7.85  49.81M       7.35
           DELL    7.85   7.53   7.82   7.85  49.81M       7.35
2018-12-28 AAPL    8.04   7.76   7.83   7.81  47.33M       7.31
           GOOG    8.04   7.76   7.83   7.81  47.33M       7.31
           MSFT    8.04   7.76   7.83   7.81  47.33M       7.31
           DELL    8.04   7.76   7.83   7.81  47.33M       7.31
2018-12-31 AAPL    7.86   7.50   7.85   7.65  57.82M       7.16
           GOOG    7.86   7.50   7.85   7.65  57.82M       7.16
           MSFT    7.86   7.50   7.85   7.65  57.82M       7.16
           DELL    7.86   7.50   7.85   7.65  57.82M       7.16
2019-01-02 AAPL    8.02   7.48   7.53   7.90  47.49M       7.40
           GOOG    8.02   7.48   7.53   7.90  47.49M       7.40
           MSFT    8.02   7.48   7.53   7.90  47.49M       7.40
           DELL    8.02   7.48   7.53   7.90  47.49M       7.40

[2524 rows x 6 columns]

In [43]:
#changing data back from stacked to panel
stacked_data.to_panel()

C:\Users\amans\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 631 (major_axis) x 4 (minor_axis)
Items axis: High to Adj Close
Major_axis axis: 2016-06-30 00:00:00 to 2019-01-02 00:00:00
Minor_axis axis: AAPL to DELL